<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CompilerLab</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- my css file -->
    <link href="{{ url_for('static',filename='css/my.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CompilerLab</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item inactive">
            <a class="nav-link" href="lexer">Lexer</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">OPG Parser <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item inactive">
            <a class="nav-link" href="parser">Parser</a>
          </li>
          <li class="nav-item inactive">
            <a class="nav-link" href="interpreter">Interpreter</a>
          </li>
        </ul>
      </div>
    </nav>
    

    <div class="container">
      <div class="form-group">
        <form id="codeform">
            <div class="row">
              <div class="col">
                <h3> Grammar </h3>
                <textarea class="form-control" rows="15" id="grammar" name="grammar"></textarea>
                <br />
                <button type="submit" class="btn btn-secondary pull-right">Run</button>
              </div>
              <div class="col">
                <h3> Code </h3>
                <textarea class="form-control" rows="15" id="code" name="code"></textarea>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <h3> Result </h3>
        <div id="result">
        </div>
    </div>


    <script>
      $('#codeform').submit(function(e){
          e.preventDefault();
          $.ajax({
              url:'/api/v1/opg',
              type:'post',
              data:$('#codeform').serialize(),
              success: function(response){
                  $('#result').html('<pre>'+response+'</pre>');
              }
          });
      });
      window.onload = function() {
        $('#grammar').val('E->E+T|T\nT->T*F|F\nF->(E)|i')
      };
    </script>
  </body>
</html>
