<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CompilerLab</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- my css file -->
    <link href="{{ url_for('static',filename='css/my.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='ace/ace.js') }}"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CompilerLab</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item inactive">
            <a class="nav-link" href="lexer">Lexer</a>
          </li>
          <li class="nav-item inactive">
            <a class="nav-link" href="opg">OPG Parser</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Parser <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item inactive">
            <a class="nav-link" href="interpreter">Interpreter</a>
          </li>
        </ul>
      </div>
    </nav>
    

    <div class="container">
      <div class="row">
        <div class="col">
          <h3> PL/0 Code </h3>
          <pre id="editor" name="code" style="height: 500px;"> </pre>
          <br />
          <input id="input-file" name="input-file" type="file" class="file" onchange=loadFile()>
          <br />
          <br />
          <button type="submit" id="submit" class="btn btn-secondary">Parse</button>
          <button id="copy" class="btn btn-secondary">Copy</button>
        </div>
        <div class="col">
          <h3> P-Code </h3>
          <pre id="result" style="white-space: pre-wrap;word-wrap: break-word;"></pre>
        </div>
      </div>
    </div>


    <script>
      var editor = ace.edit("editor");
      editor.getSession().setMode("ace/mode/pascal");

      function copyToClipboard(string) {
        var $temp = $("<textarea>");
        $("body").append($temp);
        $temp.val(string).select();
        document.execCommand("copy");
        $temp.remove();
      }

      function loadFile() {
        var file = document.getElementById("input-file").files[0];
        if (file) {
            var reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload = function (evt) {
                editor.setValue(evt.target.result);
            }
            reader.onerror = function (evt) {
                alert("error reading file");
            }
        }
      };

      $('#submit').click(function(e){
          e.preventDefault();
          $.ajax({
              url:'/api/v1/parser',
              type:'post',
              data: {'code': editor.getValue()},
              success: function(response){
                  $('#result').html(response);
              }
          });
      });

      $('#copy').click(function(e){
          copyToClipboard($('#result').html());
      });

      window.onload = function() {
        editor.setValue('const a = 45, b = 27;\nvar x, y, g, m;\nprocedure swap;\n    var temp;\n    begin\n        temp := x;\n        x := y;\n      y := temp\n  end;\n\nprocedure mod;\n  x := x-x/y*y;\n\nbegin\n  x := a;\n    y := b;\n    call mod;\n    while x <> 0 do\n        begin\n            call swap;\n            call mod\n        end;\n    g := y;\n    m := a*b/g;\n    write(g, m)\nend.')
      };

    </script>
  </body>
</html>
